<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project, :url => { :action => :report2  }) do |f| %>
      <%= f.label :project_name, "Project:" %>
      <%= f.collection_select :id, Project.order(:project_name),:id,:project_name, include_blank: true %>

      <%= f.label :done ,"What you've done:"%>
      <%= f.text_field :done, class: 'form-control' %>

      <%= f.label :hours, "for(hours):" %>
      <%=f.select("hours", (1..5))%>

      <%= f.label :problem, "problem:" %>
      <%= f.text_field :problem, class: 'form-control' %>

      <%= f.label :next_plan, "what are you goin\' to do next?"%>
      <%= f.text_field :next_plan, class: 'form-control' %>
      
          <h2>Simple Collapsible</h2>
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
          <div id="demo" class="collapse">
            <%for i in (1..10)%>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            <%end%>
          </div>
      
      <%= f.submit "Report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>