<% provide(:title, 'Them') %>
<h1>Them project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :project_name,"Project:" %>
      <%= f.text_field :project_name, class: 'form-control'  %>

      <%= f.label :plan_time ,"Thoi gian du dinh:"%>
      <%= f.text_field :plan_time, class: 'form-control' %>

      <%= f.submit "Them project moi", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>